body{
    width: 100%;
    margin-top:60px;
    margin-left:90px;
}
.mda{
    text-transform: uppercase;
    color:#4bcaff;

}
.ramda{
    text-transform: uppercase;
}

.Menu{

   /* width: 80%;*/
    width:900px;
    height:69px ;
    background-color: #35444f;
}
.menu-ul{
    padding: 25px;
    margin-left: 90px;

}
.first-menu-li{
    display: inline-block;
}

.menu-links{
    text-decoration: none;
color:white;
    padding: 10px;
    margin: 25px;

}

.information-2{

margin-top: 25px;
    width: 600px;
    height: 260px;
    display: inline-block;
    border: solid 1px #35444f ;
    margin-left: 25px;
}
.information-1{

margin-top:25px;
    height: 200px;
    width: 260px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #495863;
}
.menu-2-list{

    list-style-type: none;
    padding:10px;


}
.menu-2-link{
    text-decoration: none;
    color:#495863;

}
img{
    margin-left: 270px;
    width:180px;
    height: 250px;


}


.Why-ramda\?{
    padding:10px;
    color:black;
}
p{
    margin-top: 20px;
    margin-left: 300px;
    padding-left: 10px;
    padding-right: 250px;
}
.menu-links3{
    text-decoration: none;
    color:white;
    padding: 10px;
    margin: 1px;
}
.links3-why{
    text-decoration: underline cornflowerblue;
    color:cornflowerblue;
}
